
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
.main
{
    height: 100%;
    width: 100%;
    background-color: rgb(224, 224, 244);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60%;
    height: 20%;
}
#sign-up
{
    padding: 10px;
    background-color: blue;
    border-radius: 5px;
    font-size: small;
    cursor: pointer;
    color: azure;
    font-weight: bold;
}
h1,p{
    margin-top: 30px;
    text-align: center;
    word-wrap: break-word;
}
#buy ,#close
{
    margin-left: 50%;
    margin-top: 50px;
    padding: 10px;
    background-color: blue;
    border-radius: 5px;
    font-size: small;
    cursor: pointer;
    color: azure;
    font-weight: bold;
    width: 80px;
    text-align: center;
}
#img-sec{
    margin-left: 15%;
}
@media (max-width:768px) {
    #img-sec{
        display: flex;
        flex-direction: column;
    }
}
#section-1
{
    margin-top: 400px;
    min-height: 100vh;
    width: 100vw;

   position: relative;
}
.search-sec{
    margin-left: 38%;
    margin-top: 3%;
    width: fit-content;
}
.input{
    border-radius: 5px;
    padding: 10px;
    width: 250px;
}
.search{
    padding: 10px;
    margin-left: 10px;
    width: 100px;
    border-radius: 10px;
    background-color: blue;
    color: aliceblue  ;
    cursor: pointer;
}
.product{
    margin-top: 50px;
    padding: 20px;
    display: flex;
     flex-wrap: wrap;
     gap: 30px;
     justify-content: center;
   
}
.card{
    width: 30%;
    height: 450px;
    border-radius: 20px;
    padding: 50px;
    box-shadow: 10px 10px 5px rgb(243, 229, 229);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}
.card-Search{
    
    margin-top: 20px;
    width: 40%;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .details-card {
    border: 1px solid red;
    width: 30vw;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #5edbcf;
    display: none;
  }
  
  .details-card img {
    max-width: 100%;
    height: auto;
  }
  .details-card img{
    margin-top: 5%;
    margin-left: 35%;
  }
  p  {
    text-align: center;
    word-wrap: break-word; 
    white-space: normal;
    overflow-wrap: break-word;
    max-width: 90%; 
    margin: 10px 0; 
  }
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   height: 80vh;
   background-color: navajowhite;
}